<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SEGUNDO PARCIAL - ENRIQUE MENACHO</title>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="app.component.css">

</head>
  <body>
    <header class="headerPrincipal">
      <div>
        <h1 class="tituloPrincipal"> PRIMER PARCIAL - ENRIQUE MENACHO - CRUD</h1>
      </div>
    </header>

    <main class="principalMain">
      <div class="contenidoPrincipal">

          <div class="crud">
            <div class="tituloCrud">
              <h2>SERVICIOS</h2>
            </div>
            <div class="formularios">
              <label for="COD_PROVEEDOR" class="label">COD PROVEEDOR:</label>
              <input type="text" id="COD_PROVEEDOR" class="input-padron" required placeholder="       Ej: 123456987"><br>

              <label for="DETALLE" class="label">DETALLE EL SEVICIO:</label>
              <textarea cols="20" rows="5" id="DETALLE" class="input-padron" required></textarea><br>

              <label for="FECHA_INICIO" class="label">FECHA DE INICIO:</label>
              <input type="text" id="FECHA_INICIO" class="input-padron" required placeholder="       Ej: 15/05/2022"><br>

              <label for="FECHA_FIN" class="label">FECHA DE FINALIZACION:</label>
              <input type="text" id="FECHA_FIN" class="input-padron" required placeholder="       Ej: 18/09/2023"><br>

              <label for="PRECIO" class="label">PRECIO DEL SERVICIO:</label>
              <input type="text" id="PRECIO" class="input-padron" required placeholder="       Ej: 1500Bs"><br>

              <label for="NRO_CUENTA" class="label">NUMERO DE CUENTA:</label>
              <input type="text" id="NRO_CUENTA" class="input-padron" required placeholder="       Ej:  XX-XXX-XXX-XXX">

          </div>
            <div class="botones">
              <a class="headerPrincipal-nav-link" href="#">AGREGAR</a>
              <a class="headerPrincipal-nav-link" href="#">BUSCAR</a>
              <a class="headerPrincipal-nav-link" href="#">EDITAR</a>
              <a class="headerPrincipal-nav-link" href="#">BORRAR</a>
            </div>
          </div>

      </div>

    </main>
  </body>













</html>
